#form__wrap{
    display: none;
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    background-color: rgba(1, 1, 1, 0.725);
    z-index: 100;
    overflow: auto;
}
.form-container {
	display:none;
	position: absolute;
    background-color: #f5f5f5;
    padding: 20px;
    -moz-border-radius: 12px;
    -khtml-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
	width: 340px;
    height: 160px;
	z-index: 200;
}
.form-container h1{
    margin: 0;
}
.form-container form{
	margin: 20px 0 0 0;
}
.form-container input{
	margin-right: 0;
	padding-right: 0;
}
.form-container table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
.form-container .button_search{
	float:right;
	width: 80px;
    height: 31px;
	margin: 10px 0 0 0;
    background: #fb6600;
    color: #fff;
    border: solid 1px #fb6600;
    cursor: pointer;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.form_aftler{
	display:none;
}
.form_done{
	display:none;
}



















